{% extends 'core/base.html' %}
{% load static %}

{% block body %}
   

    <div class="box1">
        <div class="bulletin">
            <h2>About Us</h2>

            The Morning Filter and The Evening Wrap newsletters will keep you one step ahead of the news,
            with a glance at the day ahead in the morning and a thoughtful roundup of the day’s developments
            in the evening.

            <h3>Unconditional journalism</h3>

            We have been keeping you up-to-date with information on the developments in India and the world that
            have a bearing on our health and wellbeing, our lives and livelihoods, during these difficult times.
            Our effort has always been to encourage and enable wide dissemination of news that we consider is in
            public interest for educational purpose.
            This site is neither affiliated to any domain epapers nor does it promotes/supports online piracy. It is
            just my sincere
            effort to provide the content which are already forwarded by somone else to
            the selected few who are unable to afford buying/subscribing to the paper.
            For those of you who still can afford paying, I urge you to please do so.
            You can continue using the channel for convenience, but please subscribe to the ePaper
            if you can and support quality jounalism. It costs less than ₹3/day to subscribe. Thankyou!

           
        </div>
       
        

    </div>
{% endblock body %}