{% extends 'core/base.html' %}
{% load static %}

{% block body %}



  <div class="container-frm">
    <h2>

      Privacy</h2>
    <p>

      We understand the importance of your privacy and we think of it very seriously.
      So we give you full authority to let us know if any mishap happens with your content or
      anyone violates your privacy or safety through any post, comment or contents. The privacy policy explain all your
      rights and policies to share, discover, or use your personal information or data while using Readoria.
      If someone has used your content or your personal information without taking your sanction, you can
      directly contact the content poster and ask him/her to remove. Now, if you can’t come into any conclusion
      with the poster, you can request us to remove the content based on our guidelines.
      We collect and use cookies, log details, local storage objects and various other technical tracking things to
      gather information like searches, viewed profiles or pages, bookmarked content, liked writeups or any other
      activity
      done in this platform. We also collects information that your mobile/PC provides to us such as your IP Address,
      Service
      Provider, Mobile Device, Browser, location, requested or referral URL and all other consent information.
    <h4>Some Links You can Follow to subscribe to:</h4>


    <a class="sublinks" href="https://epaper.thehindu.com/"> The Hindu</a>
    <a class="sublinks" href="https://indianexpress.com/"> The Indian Express</a>
    <a class="sublinks" href="https://epaper.hindustantimes.com/"> Hindustan Times</a>
    <a class="sublinks" href="https://epaper.jagran.com/epaper/"> Dainik Jagran</a>
    <a class="sublinks" href="https://economictimes.indiatimes.com"> Economic Times</a>
    </p>
  </div>


{% endblock body %}