<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Epaper Adda</title>
    <link rel="stylesheet" href="{% static 'downloads/css/style.css' %}">
    <link rel="icon" type="image/jpg" href="https://user-images.githubusercontent.com/72473589/123472363-b4721f00-d614-11eb-9daf-0d15c569d720.jpg"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Style+Script&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container-nav">


        <ul>
            <li><a class="ancr" href="/"><i class="fa fa-home"></i> Home</a></li>
           
            <li><a class="ancr" href="{% url 'about' %}"><i class="fa fa-info"></i> About</a></li>
            <li><a class="ancr" href="{% url 'privacy' %}"><i class="fa fa-street-view"></i> Privacy</a></li>
            <li><a class="ancr" href="{% url 'contact' %}"><i class="fa fa-phone"></i> Contact</a></li>
            <li><a class="ancr" href="{% url 'downloads' %}"><i class="fa fa-comment"></i> Download</a></li>


        </ul>

    </div>



{% block body %}-- Body --{% endblock body %}



        <marquee behavior="" direction="left" class="mrq">Disclaimer: We dont hold any rights for any contents which are
            provided here. All the contents are shared for the educational purpose only. Contents are only forwarded
            which are already provided by someone else in the internet.
        </marquee>

        <div class="footer">

            <span> Ver. 2020-2021 Designed with <i class="fa fa-heart"></i> by TeamAdfree</span>

        </div>



    </div>
    <!--


<script>
    $(window).on('load',function () {
      $(".loader").fadeOut(1000);
      $(".pcontent").fadeIn(1000);
        
    });
</script>  -->

</body>

</html>