{% extends 'downloads/base.html' %}
{% load static %}
{% block body %}   

    <h2 class="footer">The Tribune</h2>
    <!--  <div class="loader">
        <div></div>
    </div>      -->
    <div class="box1">

        <h4>

            Download Tribune epaper PDF Daily for Free After 06:00 AM
        </h4>
        <p>
            Download Tribune epaper Today for free like  UPSC, PCS, SSC, Banking, Railways,
            Army, Police and all other government and private Examinations. Here you can easily download Tribune
            epaper pdf as well as Tribune editorials, here Tribune epaper daily uploaded till 6 AM. <br>
            <br>
        <h4>
            How can you Download Tribune epaper PDF daily in the morning ?
        </h4>
        -First Scroll Down this webpage. <br>
        -Find date of PDFs which you want to download. <br>
        -Navigate and Choose Date from Description and Click on Yellow short Download Button. <br>
        -Wait for few Seconds, then Download will get started automatically.

        <br>
        If the link doesnt work by any means, then you can also navigate to the alternative downloadable links which is
        presented in below section of this page.
        Please follow our Social Media pages also, there important updates are shared to make you updated. You can go to
        our official
        social media pages by clicking on the above icon. <br><br>

        <h4> Disclaimer Notice:</h4>

        We doesnot hold the writes for this ePaper. We only forward downloadable links only for
        Students for educational purpose which are already present on other internet Platforms. This ePaper shared solely only
        for
        educational purposes.
        If it violates any policy in any of the way or if the owner wants to report about it, please contact us with valid
        proofs on our contact us section.
        Necessary action will be taken in 24-48 hrs of your reporting. Thankyou!

        </p>
    </div>
    <div class="content">
        <!--    #CHABGE THIS IN FUTURE TO "pcontent"     -->


        <table id='tbl' class='tbl' style="width:100%">

            <th>SL no.</th>
            <th>Description</th>
            <th> Download Links</th>
            <tr>
                <td><i class="fa fa-pen"></i></td>
                <td>Download The Tribune newspaper for Dated 05 July 2021</td>
                <td> <a href="" class="cnt"> <i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td><i class="fa fa-pen"></i></td>


                <td>Download The Tribune newspaper for Dated 05 July 2021</td>
                <td> <a href="" class="cnt"> <i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td><i class="fa fa-pen"></i></td>


                <td>Download The Tribune newspaper for Dated 05 July 2021</td>
                <td> <a href="" class="cnt"> <i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td><i class="fa fa-pen"></i></td>


                <td>Download The Tribune newspaper for Dated 05 July 2021</td>
                <td> <a href="" class="cnt"> <i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td><i class="fa fa-pen"></i></td>


                <td>Download The Tribune newspaper for Dated 05 July 2021</td>
                <td> <a href="" class="cnt"> <i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td><i class="fa fa-pen"></i></td>


                <td>Download The Tribune newspaper for Dated 05 July 2021</td>
                <td> <a href="" class="cnt"> <i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td><i class="fa fa-pen"></i></td>


                <td>Download The Tribune newspaper for Dated 05 July 2021</td>
                <td> <a href="" class="cnt"> <i class="fa fa-download"></i></a></td>
            </tr>

        </table>

        <button  id ="btn_dwnld" class="btn_dwnld" type="button" onclick="document.location='/mega.html'">Alternative Download</button>


   {% endblock body %}